.c-custom-nav > .navbar > .navbar-brand > img {
    position: relative;
    animation-name: example;
    animation-duration: 3s;
  }
  
  @keyframes example {
    0%   {filter: brightness(70%); left:0px; top:0px;}
    50%  {filter: brightness(80%); left:4rem; top:-4rem;}
    70%  {filter: brightness(150%); left:-4rem; top:4rem;}
    100% {filter: brightness(100%); left:0px; top:0px;}
  }