.p-signup{
    background-image: url("../../assets/airplane.jpg");
    height: 93vh;
    /*background-position: center; /*Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0;
}

.container {
    font-family: 'Itim', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}

.container  > form > .btn {
    background-image: linear-gradient(to right,#28a745 , #5eff00);
    border-radius: 1.5rem;
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem; */
    width: 90%;
    margin: 1.5rem auto;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: .5s ease;
}

.container  > form > a {
    text-decoration: underline;
    /* margin-bottom: 1.5rem; */
    margin-left: auto;
    margin-right: auto;
}

.container  > form {
    background-color: whitesmoke;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container > h3{
    text-align: center;
    padding: 1.5rem;
    color: whitesmoke;
}
.container > h1{
    text-align: center;
    padding-bottom: 2rem;
    color: whitesmoke;
}
