.p-deals{
    background-color: rgb(244, 244, 244);
    min-height: 100vh;
    max-height: max-content;
}

.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.custom-container > h2 {
    text-align: center;
    padding: 1.5rem;
    font-family: 'Itim', cursive;
    border-bottom: 2px lightgrey solid;
}


@media (min-width: 64.0625rem){
    .custom-container{
        max-width: 1280px;
    }
}

@media (min-width: 48rem){
    .custom-container{
        padding: 0 16px;
    }
}


